<div>
  <h2>LISTA DE CONTACTOS</h2>
  <ul>
    <li *ngFor="let contacto of contactos">
      {{ contacto.nombre}}
    </li>
  </ul>
</div>

<div>
  <input [(ngModel)]="nombre" (keyup.enter)="agregar()" type="text" placeholder="agregar contacto" >
</div>

<div>
  <button (click)="cancelar()">unsubscribe</button>
  <button (click)="suscribir()">subscribe</button>
</div>